<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Risk create</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
 <h2>Добавить риск</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Добавить риск</button>
</form>

<script>
    $(document).ready(function() {
        $('#id_company').change(function() {
            var companyId = $(this).val();
            $.ajax({
                url: '{% url "load_threats" %}',
                data: {
                    'company_id': companyId
                },
                success: function(data) {
                    var options = '<option value="">Выберите угрозу</option>';
                    $.each(data.options, function(index, threat) {
                        options += '<option value="' + threat.id + '">' + threat.name + '</option>';
                    });
                    $('#id_related_threat').html(options);
                }
            });
        });
    });
</script>

</body>
</html>