<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Risk create</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
 <h2>Добавить риск</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.name.label }} {{ form.name }}<br>

    <!--<input type="number" name="exploit_possibility" min="0" max="100" step="0.1" required>-->
    {{ form.related_company.label }} {{ form.related_company }}<br>
    {{ form.decision.label }} {{ form.decision }}<br>
    {{ form.related_threat.label }} {{ form.related_threat }}<br>

    <button type="submit">Создать риск</button>
</form>
<script>
    $(document).ready(function() {
        $('#id_related_company').change(function() {
            var companyId = $(this).val();
            $.ajax({
                url: '{% url "load_threats" %}',  // Убедитесь, что у вас есть соответствующий URL
                data: {
                    'company_id': companyId
                },
                success: function(data) {
                    $('#id_related_threat').empty();  // Очистить предыдущие угрозы
                     $.each(data.threats, function(index, threat) {
                        $('#id_related_threat').append(
                            $('<option></option>').val(threat.id).text(threat.name)
                        );
                    });
                }
            });
        });
    });
</script>
</body>
</html>