<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<h1>Список задач</h1>

<table>
    <thead>
        <tr>
            <th>Имя задачи</th>
            <th>Описание</th>
            <th>Статус</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.status.name }}</td>
            <td>{{ task.start_date }}</td>
            <td>{{ task.end_date }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Задачи не найдены.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>