<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCompanies</title>
</head>
<body>
{% block content %}
<h2>Мои компании</h2>
<ul>
    {% for company_user in company_users %}
        <li>
            <a href="{% url 'company_assets' company_id=company_user.company.id %}">
                {{ company_user.company.company_name }}
            </a>
            <br>
            <a href="{% url 'company_risk' company_id=company_user.company.id %}">
                Перейти к рискам
            </a>
        </li>
    {% empty %}
        <li>У вас нет компаний.</li>
    {% endfor %}
</ul>

<br>
<button id="addCompany">Добавить компанию</button><br>
<a href="{% url 'vulnerability_create' %}">Перейти к созданию уязвимостей</a>
<br>
<a href="{% url 'threat_create' %}">Перейти к созданию угроз</a>
<br>
<a href="{% url 'risk_create' %}">Перейти к созданию рисков</a>
<br>
<a href="{% url 'measure_create' %}">Перейти к созданию мер</a>
<br>

<script>
    document.getElementById("addCompany").onclick = function() {
        window.location.href = "{% url 'company_create' %}";
    };
</script>
{% endblock %}

</body>
</html>