<!--Возможность пользователем добавлять сови значения-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose assets</title>
</head>
<body>
<!--
 <h1>Активы</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            <h1>Create Default Asset</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
             </div>
    </form>
-->
 <h1>Актив: {{ asset.name }}</h1>


    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить</button>
    </form>

    <a href="{% url 'assets_choose' %}">Вернуться назад</a>
    <a href="{% url 'vulnerability_create' %}">Перейти к уязвимостям</a>
<br>
<a href="{% url 'threat_create' %}">Перейти к угрозам</a>
</body>
</html>