<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>
    {% extends "base.html" %}

    {% block title %}Home{% endblock %}

    {% block content %}

    <main>
        {% if user.is_authenticated %}
        <div class="content">
            <h1>Risk Assessment Web Application</h1>
            <p>Hi {{ user.username }}! Make your environment safe</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn login">Log Out</button>
            </form>
        </div>
        {% else %}
        <div class="content">
            <h1>Risk Assessment Web Application</h1>
            <p>Make your environment safe</p>
            <div class="buttons">
                <a href="{% url 'login' %}" class="btn login">Log In</a>
                <a href="{% url 'signup' %}" class="btn signup">Sign Up</a>
            </div>
        </div>
        {% endif %}
        <div class="image-container">
            <img src="https://via.placeholder.com/150/007BFF/FFFFFF?text=Image1" alt="Image 1">
            <img src="https://via.placeholder.com/150/28a745/FFFFFF?text=Image2" alt="Image 2">
            <img src="https://via.placeholder.com/150/FF5733/FFFFFF?text=Image3" alt="Image 3">

           </div>
    </main>

    {% endblock %}
</body>
</html>
